<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @cashtable.year %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @cashtable.jan %>
</p>

<p>
  <strong>Feb:</strong>
  <%= @cashtable.feb %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @cashtable.mar %>
</p>

<p>
  <strong>Apr:</strong>
  <%= @cashtable.apr %>
</p>

<p>
  <strong>May:</strong>
  <%= @cashtable.may %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @cashtable.jun %>
</p>

<p>
  <strong>July:</strong>
  <%= @cashtable.july %>
</p>

<p>
  <strong>Aug:</strong>
  <%= @cashtable.aug %>
</p>

<p>
  <strong>Sept:</strong>
  <%= @cashtable.sept %>
</p>

<p>
  <strong>Oct:</strong>
  <%= @cashtable.oct %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @cashtable.nov %>
</p>

<p>
  <strong>Dec:</strong>
  <%= @cashtable.dec %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @cashtable.lead_id %>
</p>

<p>
  <strong>Bdm:</strong>
  <%= @cashtable.bdm_id %>
</p>

<%= link_to 'Edit', edit_cashtable_path(@cashtable) %> |
<%= link_to 'Back', cashtables_path %>
