<%= form_for(@externalformlink) do |f| %>
  <% if @externalformlink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@externalformlink.errors.count, "error") %> prohibited this externalformlink from being saved:</h2>

      <ul>
      <% @externalformlink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.number_field :contact_id %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :form_id %><br>
    <%= f.number_field :form_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
