<%= form_for(@bdm) do |f| %>
  <% if @bdm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bdm.errors.count, "error") %> prohibited this bdm from being saved:</h2>

      <ul>
      <% @bdm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
