<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bdm.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bdm.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @bdm.phone %>
</p>

<%= link_to 'Edit', edit_bdm_path(@bdm) %> |
<%= link_to 'Back', bdms_path %>
