<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "style" %>


<%= form_for @confirmbooking, html: {name: "classic", class: "form-login"} do |f| %>


<h3 align="center">Confirmation Form </h3>



  <% if @confirmbooking.errors.any? %>
    <div id="error_explanation">
     <h5><%= pluralize(@confirmbooking.errors.count, "error") %> prohibited this contact from being saved:</h5>

      <ul>
      <% @confirmbooking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="inputs">
    <%= f.label :your_name %><br>
<%= f.text_field :name,:class=>'inputs', :placeholder=>'Full Name' %>

  </div>
<div class="inputs">
    <%= f.label :email%><br>
    <%= f.email_field :email, :class=>'inputs', :placeholder=>'name@domain.com' %>
  </div>

<div class="inputs">
    <%= f.label :phone  %><br>
    <%= f.number_field :phone,  :class=>'inputs', :placeholder=>'Mobile Mumber' %>
  </div>

<div class="inputs">
    <%= label_tag 'Please choose your City and Batch' %><br>
<select name="countries" size="4" onChange="updatecities(this.selectedIndex)" style="width: 163px">
<option selected>Select A City</option>
<option value="Chennai">Chennai</option>
<option value="Bangalore">Bangalore</option>
<option value="Delhi">Delhi</option>
<option value="Mumbai">Mumbai</option>
<option value="Pune">Pune</option>
<option value="Pune">Hyderabad</option>
<option value="Pune">Will Decide Later</option>
</select>


<select name="cities" size="4" style="width: 163px">
</select>



  <div class="inputs">
    <%= label_tag 'What are three most important transformation or changes you desire during the 6 days?' %><br><span>(These are the Most Popular Transformation Participants Speak about)</span></label><br>

    <%= f.text_field :change1, :class=>'inf', :placeholder=>'1' %><div class="infp"><p>Experience Trance</p></div><br /><br /><br />
    <%= f.text_field :change2, :class=>'inf', :placeholder=>'2' %><div class="infp"><p>Learn to the fullest</p></div><br /><br /><br />
    <%= f.text_field :change3, :class=>'inf', :placeholder=>'3' %><div class="infp"><p>Peak Performance</p></div><br /><br /><br />
  </div>

  <div class="inputs">
    <%= label_tag 'What are the top three things that you want to Learn during the 6 Days?' %><br>
    <%= f.text_field :thing1, :class=>'inf', :placeholder=>'1' %><div class="infp"><p>Peak Performance Always</p></div><br /><br /><br />
    <%= f.text_field :thing2, :class=>'inf', :placeholder=>'2' %><div class="infp"><p>Overcome Phobia</p></div><br /><br /><br />
    <%= f.text_field :thing3, :class=>'inf', :placeholder=>'3' %><div class="infp"><p>Overcome Addictions</p></div><br /><br /><br />
  </div>

  <div class="inputs">
    <%= label_tag 'What are your top three dreams that you want to come true this year?' %><br>
    <%= f.text_field :dream1, :class=>'inf', :placeholder=>'1' %><div class="infp"><p>Handle Relatioships</p></div><br /><br /><br />
    <%= f.text_field :dream2, :class=>'inf', :placeholder=>'2' %><div class="infp"><p>Financial stability</p></div><br /><br /><br />
    <%= f.text_field :dream3, :class=>'inf', :placeholder=>'3' %><div class="infp"><p>Multiply Businsess</p></div><br /><br /><br />
  </div>
<br>
 </div>

<div class="actions">
	<center><%= f.submit "I Confirm my Participation ",class:"btn btn-info"%></center>
</div>


<% end %>
</form>



<script type="text/javascript">

var countrieslist=document.classic.countries
var citieslist=document.classic.cities

var cities=new Array()
cities[0]=""
cities[1]=["June 2014|June 2014", "Will Decide Later|willdecidelater"]
cities[2]=["July 2014|July 2014", "Will Decide Later|willdecidelater"]
cities[3]=["April 2014|April 2014", "August 2014|August 2014", "Will Decide Later|willdecidelater"]
cities[4]=["July 2014|July 2014", "Will Decide Later|willdecidelater"]
cities[5]=["June 2014|July 2014", "Will Decide Later|willdecidelater"]
cities[6]=["August 2014|August 2014", "Will Decide Later|willdecidelater"]

function updatecities(selectedcitygroup){
citieslist.options.length=0
if (selectedcitygroup>0){
for (i=0; i<cities[selectedcitygroup].length; i++)
citieslist.options[citieslist.options.length]=new Option(cities[selectedcitygroup][i].split("|")[0], cities[selectedcitygroup][i].split("|")[1])
}
}

</script>

