<%= form_for(@internalformfeild) do |f| %>
  <% if @internalformfeild.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@internalformfeild.errors.count, "error") %> prohibited this internalformfeild from being saved:</h2>

      <ul>
      <% @internalformfeild.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

<%= f.hidden_field :internalform_id, :value => @internalform_id %>
  </div>
  <div class="field">
    <%= f.label :Custom_Feild_Type %><br>
    <%=  collection_select(:internalformfeild, :customftype_id, Customftype.all, :id, :name ) %>
  </div>
  <div class="field">
    <%= f.label :Custom_Feild_Name %><br>
    <%= f.text_field :cfeild %>
  </div>
  <div class="field">
    <%= f.label :Help_Text %><br>
    <%= f.text_field :helptext %>
  </div>
  <div class="field">
    <%= f.label :required %><br>
    <%= f.number_field :required %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
