<%= form_for(@internalform) do |f| %>
  <% if @internalform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@internalform.errors.count, "error") %> prohibited this internalform from being saved:</h2>

      <ul>
      <% @internalform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :formtype %><br>
  <%= f.select :formtype, options_for_select(%w[Internal External] , {:class => 'form-control'}) %>

  </div>
  <div class="field">
    <%= f.label :campaign_name %><br>
    <%= f.text_field :campaign %>
  </div>
  <div class="field">
    <%= f.label :goal_name %><br>
    <%= f.text_field :goal %>
  </div>
  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>
