<%= simple_form_for(@history) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :owner %>
    <%= f.input :detail %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
