<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @contact.admin_id %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @contact.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @contact.lname %>
</p>

<p>
  <strong>Infu:</strong>
  <%= @contact.infu_id %>
</p>

<p>
  <strong>Bd:</strong>
  <%= @contact.bd_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
