<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @batch.date.to_time.strftime("%v") %>
</p>

<p>
  <strong>Name:</strong>
  <%= @batch.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @batch.product_id %>
</p>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
