<h1>Listing customftypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customftypes.each do |customftype| %>
      <tr>
        <td><%= customftype.name %></td>
        <td><%= link_to 'Show', customftype %></td>
        <td><%= link_to 'Edit', edit_customftype_path(customftype) %></td>
        <td><%= link_to 'Destroy', customftype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customftype', new_customftype_path %>
