<p id="notice"><%= notice %></p>

<p>
  <strong>Options:</strong>
  <%= @dropboxfeild.options %>
</p>

<p>
  <strong>Dropbox:</strong>
  <%= @dropboxfeild.dropbox_id %>
</p>

<%= link_to 'Edit', edit_dropboxfeild_path(@dropboxfeild) %> |
<%= link_to 'Back', dropboxfeilds_path %>
